{% extends 'home/base.html' %}

{% load static %}

{% block content %}
{% if posts.news %}
<div class="card mt-4 m-2">
    <div class="card-body bg-light border-1 rounded-1">
        <h4>{{ posts.news|safe }}</h4>
    </div>
</div>
{% endif %}
<div class="card mt-4 m-2">
    <div class ="card-body bg-light border-1 rounded-1">
        <h3 class="card-title text-center"><b>План работ на {{ posts.week_number }}
            неделю.</b></h3><br>
        <h4>{{ posts.work_schedule|safe }}</h4>

    </div>
</div>
{% endblock content %}